<%- include("../shared/includes/head.ejs", {title: "E-pengaduan: tambah-berita"}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles/dashboard.css">
<link rel="stylesheet" href="/styles/form-pengaduan.css">
<link rel="stylesheet" href="/styles/pengaduan-list.css">
<script src="/form-berita.js" defer></script>


</head>

<body>
  <%- include("../shared/includes/header.ejs") %>
  <%- include("../shared/includes/nav-bar.ejs") %>
  <main>
    <%- include("../shared/includes/left-nav-dashboard.ejs", active = "") %>
    <div class="container">
      <form class="form" action="<%= berita.id_berita %>?_csrf=<%= locals.csrfToken %>" method="post" enctype="multipart/form-data">
        <% if (beritaData) { %>
        <p id="error-message"><%= beritaData.message %>!</p>
        <% } %>
        <h4>Edit Berita!</h4>
        <div class="input-place">
          <label for="title">Judul</label>
          <input type="text" id="title" name="title" value='<%= berita.judul_berita %>' required>
        </div> 
        <div class="input-place">
          <label for="description">Deskripsi</label>
          <textarea name="description" id="description" cols="50" rows="10" style="resize: none; height: 3.5rem;"><%= berita.deskripsi_berita %></textarea>
        </div>
        <div class="input-place">
          <label for="content">Isi berita</label>
          <textarea name="content" id="content" cols="50" rows="10" style="resize: none; height: 10rem;"><%= berita.isi_berita %></textarea>
        </div>
        <label for="berita-image-input">Foto</label>
        <div class="input-place" style="display: flex; align-items: center;">
          <img src='<%= berita.image_url %>' alt="" id="berita-image" style="height: 5rem; width: 7.5rem; object-fit: cover;">
          <input type="file" id="berita-image-input" name="berita-image-input" accept="image/png, image/jpeg"  style="height: 3rem;" />
        </div>
        <div>
          <button name="submit-button" type="submit" class="reverse-button" style="margin-top: 0.5rem;" value='true'>Arsip</button>
          <button name="submit-button" type="submit" class="button" style="margin-top: 0.5rem;" value='false'>Update!</button>
        </div>
      </form>
    </div>
  </main>
  <%- include("../shared/includes/footer.ejs") %>
</body>

</html>